.card-flip {

  /*FUNCTIONALITY*/
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 15rem;
}

.card__side {
    height: 15rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
  }

  .card__picture {
    background-size: cover;
    height: 10rem;
    background-blend-mode: screen;
  }

  .card__picture--1 {
    background-image: url(https://d16r7paebwktd6.cloudfront.net/production/actualities/pictures/25031e14dd0b887f6dc7d5952d3d8021130e0dfe.jpg?1518173469);
    background-position: center;
  }

  .card__side--front {
      background-color:#fff;
    }

  .card__side--back {
      transform: rotateY(180deg);
      background-color: #4A4A4A;
      color: #fff;
    }




.card-flip:hover .card__side--front {
    transform: rotateY(-180deg);
  }

.card-flip:hover .card__side--back {
    transform: rotateY(0deg);
  }
