body {
  font-family: 'Lato';
}

/*COLORS*/
.text-red {
  color: #ff3547;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.8))), url(../assets/DR_2013_0608OperaLille_14.jpeg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../assets/DR_2013_0608OperaLille_14.jpeg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../assets/DR_2013_0608OperaLille_14.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../assets/DR_2013_0608OperaLille_14.jpeg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 40px);
  background-attachment: fixed;
  color: #fff;
}

.heroOne img {
  max-width: 400px;
}

.heroTwo {
  position: absolute;
  bottom: -50px;
}

.heroTwo img {
  border: 1px solid #ff4f5e;
  border-radius: 10px;
}

.heroTwo li {
  font-size: 1.2rem;
}

/*NAV LINKS*/

#headerNav .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .75);
  border-bottom: 2px solid rgba(255, 255, 255, .75);
  letter-spacing: 0.1em;
  text-decoration: none;
  margin: 0 10px;
}

#headerNav .navbar-nav .active> .nav-link,
#headerNav .navbar-nav .nav-link.active,
#headerNav .navbar-nav .nav-link.show,
#headerNav .navbar-nav .show>.nav-link,
#headerNav .navbar-nav .active> .nav-link:hover {
  color: #ff4f5e;
  border-bottom: 2px solid #ff4f5e;
}

#headerNav .navbar-nav .nav-link:focus,
#headerNav .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

/*MOBILE TOGGLER*/
#headerNav .navbar-toggler:focus {
  outline: 0;
}

#headerNav .navbar-toggler .menu {
  color: #FFF;
}


/*TOP NAV*/

#topNav .nav-link {
  font-size: 13px;
  color: rgba(255, 255, 255, .75);
}

#topNav .nav-link:hover,
#topNav .nav-link:focus {
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
}

@media (min-width: 992px) {
  #topNav.navbar {
    max-height: 40px;
  }
}
